<section class="socialHolder borderRadius shadow transision displayNone">
  <div class="socialHolderRelative">
    <button type="button" class="closeOverlay defaultButton" name="button">X</button>
    <h2>Deel je zoektocht </h2>
    <div class='socialLinkHolder'>
      <textarea name="name" id="textareaHiden"><%= url %> </textarea>
      <a class="socialLink copy" title="copy link"></a>
      <a class="socialLink twitter" target="_blank" title="deel met twitter" href='https://twitter.com/home?status=<%= url %>'> </a>
      <a class="socialLink mail" target="_blank" title="deel met email" href='mailto:info@example.com?&subject=&body=<%= url %> asdada'> </a>
      <a class="socialLink app" target="_blank" title="deel met whatsapp" href='whatsapp://send?text=<%= url %>'> </a>
      <a class="socialLink facebook" target="_blank" title="deel met facebook" href='https://www.facebook.com/sharer/sharer.php?u=<%= url %>'> </a>
    </div>
  </div>
</section>
<section class="overlayDark transision displayNone">

</section>
<script src="../js/share.js" charset="utf-8"></script>
