<%- include('./partials/head'); -%>

<main class="displayFlex">

<img src="../images/thumbnails/thumbnails_large/<%=prevImg%>/<%=prevImg%>_0.png" data-image="<%= prevImg %>" data-shot="0" alt="">

</main>

<%- include('./partials/footer'); -%>
