<%- include('./partials/head') -%>
<a class="backLink" href="javascript:history.back()">Back</a>
<video class="nowWatching videoFile " controls>
  <source class="" src="movie.mp4" type="video/mp4">
</video>
<section class="metaData">
  <h3>Title <span class="title">...</span></h3>
  <p>Maker <span class="creator">...</span></p>
  <p>Date <span class="date">...</span></p>
</section>
<div class="thumbnailHolster">
<% images.forEach(image => { %>
  <img class="transition endImage" data-image="<%= image %>" src="../images/thumbnails/thumbnails_large/<%= image %>/<%= image %>_0.png" alt="">
<% }) %>
</div>

<link rel="stylesheet" href="/css/endgame.css">
<%- include('./partials/footer') -%>
