<%- include('./partials/head'); -%>

<%- include('./partials/clock'); -%>

<main class="displayFlex">

  <% for(var i = 0;  i < clips.length; i++) { %>
    <div class="mainpageImage previewImage transition">
  <!-- probs rebuild this page when we got the design since this is a kinda bad user interaction -->
    <img src="../images/thumbnails/thumbnails_large/<%=clips[i]%>/<%=clips[i]%>_0.png" alt="">

<!-- ${clips[1]}/${clips[1]} -->
    </div>
<% } %>

</main>

<%- include('./partials/footer'); -%>
