<%- include('./partials/head'); -%>

<main class="displayFlex">


  <% for(var i = 0;  i < clips.length; i++) { %>
    <div class="mainpageImage previewImage transition">
      <!-- Test data but the path will be the same just change the number to the data Var -->
      <!-- The _0.png must stay so the the app will alwaya get the first one -->
      <!-- <img src="../images/thumbnails/thumbnails_large/1000452/1000452_0.png" alt=""> -->
    <img src="../images/thumbnails/thumbnails_large/<%=clips[i]%>/<%=clips[i]%>_0.png" data-image="<%= clips[i] %>" data-shot="0" alt="">

<!-- ${clips[1]}/${clips[1]} -->
    </div>
<% } %>

</main>

<%- include('./partials/footer'); -%>
