<%- include('./partials/head'); -%>
<div class="bigAssContainer">
<!-- <button class="unfolder" type="button" name="button">men</button> -->
<div class="timer">
  <!-- <p>Big ole timer</p> -->
</div>
<div class="breadCrumbs">
<p>x</p>
</div>
  <aside class="hidden">
    <button type="button" name="button">Vorm</button>
    <button type="button" name="button">Kleur</button>
    <button type="button" name="button">Beweging</button>
    <button type="button" name="button">Clutter</button>



  </aside>


  <%- include('./partials/clock'); -%>

  <main class="displayFlex">
  <% for(var i = 0;  i < clips.length; i++) { %>
    <div class="mainpageImage previewImage transition" data-image="<%= clips[i] %>" data-shot="0">
      <img src="../images/thumbnails/thumbnails_large/<%=clips[i]%>/<%=clips[i]%>_0.png" alt="">
    </div>
<% } %>


  </main>

</div>

<%# <script src="/js/clock.js" type="module" charset="utf-8"></script> %>

<%- include('./partials/footer'); -%>
