<%- include('./partials/head'); -%>

<div class="bigAssContainer">
<div class="timer">
  <a href=""><</a>
  <p>4</p>
  <a href="">></a>
</div>



  <%- include('./partials/clock'); -%>



  <main class="displayFlex">
  <% for(var i = 0;  i < clips.length; i++) { %>
    <button name="foto button" class="mainpageImage previewImage transition"  data-image="<%= clips[i] %>" data-shot="0">
      <img src="../images/thumbnails/thumbnails_large/<%=clips[i]%>/<%=clips[i]%>_0.png" alt="">
    </button>
<% } %>
  </main>

</div>

<script src="/js/index.js" type="module"></script>
<script src="/sw-register.js" type="text/javascript"></script>

<%- include('./partials/footer'); -%>
