<%- include('./partials/head'); -%>
<%- include('./partials/detailModal'); -%>

<div class="bigAssContainer">

  <aside class="">
    <div class="timer">
      <a href=""></a>
      <p>4</p>
      <a href=""></a>
    </div>
    <div class="current-pick">
      <h3>Current video</h3>
      <div class="video-placeholder">
        <img src="../images/thumbnails/thumbnails_large/<%= prevImg %>/<%= prevImg %>_0.png" data-image="<%= prevImg %>" data-shot="0" alt="">
      </div>

      <form class="" action="index.html" method="post">

        <legend>Filter related</legend>
        <div>
          <input id="filter-kleur" type="radio" name="filter" value="colour">
          <label for="filter-kleur">Color</label>
          <input id="filter-vorm" type="radio" name="filter" value="shape">
          <label for="filter-vorm">Shape</label>
          <input id="filter-beweging" type="radio" name="filter" value="movement">
          <label for="filter-beweging">Movement</label>
          <input id="filter-textuur" type="radio" name="filter" value="clutter">
          <label for="filter-textuur">Clutter</label>
        </div>

      </form>

    </div>
    <h3>History</h3>
    <div class="history-container borderRadius">
      <% path.forEach(img => { %>
      <article class="">
        <div class="">
          <img src="../images/thumbnails/thumbnails_large/<%= img %>/<%= img %>_0.png" data-image="<%= img %>" data-shot="0" alt="">
        </div>
      </article>
      <% }) %>
    </div>
    <%- include('./partials/shareHolder'); -%>
    <a class="homebutton borderRadius shadows transition" href="/">Reset</a>
  </aside>


  <main class="displayFlex">

    <!-- <h2>Related images</h2> -->
    <% newImgs.forEach(img => { %>
      <button name="foto button" class="mainpageImage previewImage fade borderRadius transition"  data-image="<%= img.split('_')[0] %>" data-shot="0">
        <img src="../images/thumbnails/thumbnails_large/<%=img.split('_')[0]%>/<%=img.split('_')[0]%>_0.png" alt="">
      </button>
    <% }) %>

  </main>
<script src="/js/filter.js" type="module" charset="utf-8"></script>
  <%- include('./partials/footer'); -%>
