<%- include('./partials/head'); -%>

<div class="bigAssContainer">
  <a class="homebutton borderRadius shadows transition" href="/">Home</a>

  <aside class="">
    <div class="timer">
      <a href="">
        <</a> <p>4</p>
          <a href="">></a>
    </div>
    <div class="current-pick">
      <h3>Current video</h3>
      <div class="video-placeholder">
        <img src="../images/thumbnails/thumbnails_large/<%= prevImg %>/<%= prevImg %>_0.png" data-image="<%= prevImg %>" data-shot="0" alt="">
      </div>

      <form class="" action="index.html" method="post">
        <legend>Filter on</legend>
        <fieldset>
          <!-- <label for="filter-kleur">Color</label> -->
          <input id="filter-kleur" type="radio" name="filter" value="colour">
          <!-- <label for="filter-vorm">Shape</label> -->
          <input id="filter-vorm" type="radio" name="filter" value="shape">
          <!-- <label for="filter-beweging">Movement</label> -->
          <input id="filter-beweging" type="radio" name="filter" value="movement">
          <!-- <label for="filter-textuur">Clutter</label> -->
          <input id="filter-textuur" type="radio" name="filter" value="clutter">
        </fieldset>
      </form>

    </div>
    <h3>viewing path</h3>
    <div class="history-container">
      <% path.forEach(img => { %>
      <article class="">
        <div class="">
          <img src="../images/thumbnails/thumbnails_large/<%= img %>/<%= img %>_0.png" data-image="<%= img %>" data-shot="0" alt="">
        </div>
      </article>
      <% }) %>
    </div>
  </aside>


  <main class="displayFlex">

    <!-- <h2>Related images</h2> -->
    <% newImgs.forEach(img => { %>

    <img src="../images/thumbnails/thumbnails_large/<%= img.split('_')[0] %>/<%= img %>.png" data-image="<%= img %>" data-shot="0" alt="">
    <% }) %>

  </main>
<script src="/js/filter.js" charset="utf-8"></script>
  <%- include('./partials/footer'); -%>
